# Lines starting with '#' are considered comments.

# Ignore objects
*.o
hmm/obj/*

# Ignore code blocks workspace file
*.workspace

# Ignore code blocks layout file
*.layout

# Ignore code blocks depend file
*.depend

# Ignore binaries
hmm/bin/*
wiiuse/bin/*

# Ignore linux directory files
.directory

# Ignore backups
*~

# Ignore Scons stuff
config.log
.sconf_temp
.sconsign.dblite
